.accueil-container {
  padding: 2rem;
  background: #fdfcfa;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.charts-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.left-chart {
  flex: 0 0 65%;
  background: #ffffff;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  min-width: 600px;
}

.right-chart {
  flex: 0 0 35%;
  background: #ffffff;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  min-width: 300px;
}



h3 {
  text-align: center;
  color: #444;
  margin-bottom: 1rem;
   font-size: 1.8rem;
  font-weight: bold;
}

.scroll-panel {
  overflow: visible;
  width: 100%;
}

.legend {
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  background-color: white;
  border-top: 1px solid #ddd;
}

.legend h4 {
  text-align: left;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 1rem;
}

.legend-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.legend-item {
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  font-size: 0.95rem;
  color: white;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}