/* Conteneur principal du header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Conteneur du menu (centré) */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar .logo img {
  width: 80px; 
  height: auto;
  margin-right: 20px;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 16px;
}

/* Changement de couleur au survol */
.navbar a:hover {
  background-color: #ff7f00;
  color: white;
}

/* Élément actif (lorsque l'utilisateur est sur la page) */
.navbar a.active {
  background-color: #ff7f00;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

/* Partie droite pour l'affichage de l'heure et de la date */
.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.header-right .date {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: normal;
}

.header-right .time {
  font-size: 20px;
  font-weight: bold;
  color: #ff7f00; /* Couleur orange chic */
}

